<div class="container">
  <!-- <div class="alert alert-success" role="alert" *ngIf="adicionado">
   <h5>Funcionário adicionado: {{ nome }}</h5>
  </div> -->
  <div class="alert alert-success" role="alert" [hidden]="!adicionado">
    <h5>Funcionário adicionado: {{ nome }}</h5>
   </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Nome:</label>
      <input type="text"
      class="form-control"
      [(ngModel)]="nome"
      (focus)="adicionado = false"
    >
  </div>
  <button type="button"
    class="btn btn-primary"
    (click)="adicionar()" [disabled]=" nome.length == 0"
  >Adicionar</button>
  <!-- Explorando a diretiva *ngFor -->
  <div class="row" style="margin-top: 20px;">
    <div class="col-2" *ngFor="let funcionario of funcionarios">
      <div class="card">
        <img class="card-img-top" src="https://randomuser.me/api/portraits/men/{{funcionario.id}}.jpg">
        <div class="card-block">{{ funcionario.nome }}</div>
      </div>
    </div>
  </div>
</div>
